html,body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#menu {
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: lightgreen;
    align-items: center;
    margin-bottom: 1em;
}
h1 a {
    text-decoration: none;
    color: white;
}
#title {
    font-size: 1.5em;
    margin-left: 5em;
}
#options{
    margin-right: 10em;
}
#options ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#options li {  
    font-size: 2em;
    list-style: none;
    margin-left: 1em;
}
#options a {
    text-decoration: none;
    color: white;
}
#options a:hover {
    text-decoration: none;
    color: black;
}
#title a:hover {
    text-decoration: none;
    color: black;
}
footer {
    background-color: lightgreen;
    margin-top: auto;
    text-align: center;
    width: 100%;
}
footer p {
    color: white;
}
#post_option{
    text-decoration: underline;
}
#content {
    width: 100%;
}