#content {
    background: darkgray;
    border: 2px solid lightgreen;
    margin-top: 4em;
    width: 30%;
    height: 30em;
    text-align: center;
}
#content form {
    margin-top: 5em;
    display: flex;
    flex-flow: column;
    align-items: center;
}
#content input, #content label {
    font-size: 30px;
}
#content h1 {
    font-size: 5em;
}
form p {
    margin-bottom: 1em;
    display: flex;
    width: 30em;
    justify-content: space-between;
}
button {
    height: 2em;
    width: 5em;
    font-size: 20px;
}
.not_as_p {
    display: block;
    width: 100%;
    margin-bottom: 0;
}
#no_acc {
    margin-top: 3em;
}