#content {
    margin-top: 4em;
    width: 50%;
    text-align: center;
    margin-bottom: 5em;
    display: flex;
    flex-flow: column;
}
#infos {
background: darkgray;
    border: 2px solid lightgreen;
    width: 100%;
    text-align: center;
    margin-bottom: 5em;
    display: flex;
    flex-flow: row;
}

#item, #payer {
    width: 50%;
}
#item img {
    max-width: 400px;
    max-height: 400px;
}
#payer {
     border-right: 1px solid white;
     height: 100%;
}
#user {
    display: flex;
    flex-flow: column;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
button {
    font-size: 20px;
    width: 5em;
}
#item{
    font-size: 20px;
}
span{
    color: green;
}
#cant_buy_own {
    width: 50%;
    height: 10em;
    background-color: gray;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}