{% extends base_template_name %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'search/css/index_style.css' %}">
{% endblock extra_head %}

{% block content %}
<section id="search_bar">
<form method="GET" action="{% url 'search:search' %}">
    <input type='text' maxlength=100 
        placeholder="Search Item" name="search_text">
        
        <div id='categories'>       
        <h3 id="category_header">Categories: </h3>   
            {% for category in categories %}
            <p>
                <input type="radio" name="category" 
                    id="category{{forloop.counter}}" 
                    value="{{category.category_name}}">
                <label for="category{{forloop.counter}}">{{category.category_name}}</br>
               </p>
            {% endfor %}
        </div>
        
        <div id='sort'>
        <h3 id="sort_header">Sort by:</h3>
            <p>
                <input type='radio' radio name="sort" id="popular" value="popular">
                <label for='popular'>Most popular</label>
            </p>
            <p>
                <input type='radio' radio name="sort"' id="newest" value="newest" checked>
                <label for='newest'>Date added (newest)</label>
            </p>
            <p>
                <input type='radio' radio name="sort"' id="oldest" value="oldest">
                <label for='oldest'>Date added (oldest)</label> 
            </p>
        </div>
    </form>
</section>

<h1 id="recent_header">Recent Items Posted</h1>
<section id="item_list">
{% for item in items %}
    <a href="{% url 'item:view' item.item_id %}">
        <div class='items'>
            <h1>{{item.item_name}}</h1>
            <p>Price: <u><b>${{item.price}}</b></u></p>
            <div>
                <img src="{% static item.image.url %}">
            </div>   
        </div>
    </a>
{% empty %}
<p> a wasteland...</p>
{% endfor %}
</section>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}