
#content {
    width: 100%;
    display: flex;
    flex-flow: column;
}
#profile{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
#user{ 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
#info {
    margin-left: 1em;
}
#info p {
    font-size: 1.5em;
    min-width: 5em;
}
#profile h1 {
    font-size: 5em;
    margin-top: 0.2em;
    color: white;
}
#info p {
    color: white;
}
span{
    color: black;
    text-decoration: underline;
}
#balance{
    color: lightgreen;
    font-weight: bold;
}
#links {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
#links p {
    padding: 1em;
    border: 2px solid gray;
    width: 100%;
    background-color: white;
}
#links a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

#links p:hover {
    background-color: lightgreen;
}
#bio {
    margin-top:0.5em;
    resize: none;
    background-color: white;
    width: 36em;
    height: 10em;
    font-size: 20px;
    margin-bottom:0.5em;
}