{% extends base_template_name %}
{% load static %}

{% block title %}Creating Item{% endblock title %}
{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'item/css/create_style.css' %}">
{% endblock extra_head %}
{% block content %}
<h1>Post New Item</h1>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <p>  
                {{field.label}}
                {{field}}
                
                {%if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                {% endif %}
                
                {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                {% endfor %}
        </p>
    {% endfor %}
    <button type="submit">Post</button>
</form>
{% endblock content %}