{% extends base_template_name %}
{% load static %}

{% block title %}Deleting Item{% endblock title %}
{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'item/css/create_style.css' %}">
{% endblock extra_head %}

{% block content %}

{% if user_not_allowed %}
    <div id='cant_buy_own'><h1>{{user_not_allowed}}</h1></div>
{% else %}
   <form method="post">
   {% csrf_token %}
        <p>Are you sure you want to delete "{{ item }}"?</p>
        <button type="submit">Confirm</button>
    </form>
{% endif %}

{% endblock content %}