{% extends base_template_name %}
{% load static %}

{% block title %}Editing Item{% endblock title %}
{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'item/css/create_style.css' %}">
{% endblock extra_head %}

{% block content %}

{% if user_not_allowed %}
    <div id='cant_buy_own'><h1>{{user_not_allowed}}</h1></div>
{% else %}
    <h1>Edit Item</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
            {% for field in form %}
            <p>  
                {{field.label}}
                {{field}}
                    
                {%if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                {% endif %}
               
                {% for error in field.errors %}
                      <p style="color: red;">{{error}}</p>
                {% endfor %}
            </p>
             {% endfor %}
        <button type="Submit">Update</button>
    </form>
{% endif %}

{% endblock content %}