{% extends base_template_name %}
{% load static %}

{% block title %}Viewing Item{% endblock title %}
{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'item/css/view_style.css' %}">
{% endblock extra_head %}

{% block content %}
<section id='item'>
    <section id='buttons'>
    {% if user.is_authenticated %}
        {% if item.owner.username == user.username or user.is_superuser %}
            <form method="GET" action="{% url 'item:edit' item.item_id %}">
                <button type="submit">Edit item</button>
            </form>
            
            <form action="{% url 'item:delete' item.item_id %}">
                <button type="submit">Delete item</button>
            </form>
        {% endif %}
        
    {% if item.owner.username != user.username %}
            <form action="{% url 'order:buy' item.item_id %}">
                <button type="submit">Buy item</button>
            </form>
    {% endif %}
   {% endif %}
    </section>   
    <p><b>Title:</b> {{item.item_name}}</p>
    <p><b>Price:</b> <span>${{item.price}}</span></p>
    <p><b>Seller:</b> <u>{{item.owner.username}}</u></p>
    <img src="{% static item.image.url %}" alt='none'>
    <p><b>Category:</b> {{item.category.category_name}}</p>
    <p><b>Date Posted:</b> {{item.creation_date}}</p>
    <textarea readonly>{{item.description}}</textarea>  
</section>  

<section id='likes'>
<p><span>{{item.like_set.all | length}}</span>Like{{item.like_set.all | length | pluralize}}</p>
    {% if user.is_authenticated %}
        <form action="{% url 'like:like' item.item_id %}">
            {% if user_liked %}
                <button type="submit" >Unlike</button>
            {% else %}
                <button type="submit">Like</button>
            {% endif %}
        </form>
    {% endif %}
</section>
    


<section id='comment_section'>    
    {% if user.is_authenticated %}
        <form action="{% url 'comment:comment' item.item_id %}">
            <button type="submit">Add Comment</button>
        </form>
    {% endif %}
    <p> {{item.comment_set.all | length}} Comment{{item.like_set.all | length | pluralize}}</p>
    {% for comment in comments %}
        <div class='comments'>
            {% if comment.user.avatar %}
                <img src="{% static comment.user.avatar.url %}">
            {% else %}
                <img src="{% static 'user/image/default-avatar.png' %}">
            {% endif %}
            <div>
                <div id='header'>
                    <h3>{{comment.user}}</h3>
                    <p>{{comment.comment_date}}</p>
                </div>
                <textarea readonly>{{comment.comment_text}}</textarea>
            </div>
        </div>
    {% empty %}
    <p> No comments yet.</p>
    {% endfor %}
</section>
{% endblock content %}