#content {
    background: darkgray;
    border: 2px solid lightgreen;
    margin-top: 4em;
    width: 33%;
    text-align: center;
    margin-bottom: 5em;
}
form {
    display: flex;
    flex-flow: column;
    align-items: center;
}
form p {
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}
p input {
    font-size: 20px;
}
p input {
    width: 15em;
}
p{
    font-size: 20px;
    font-weight: bold;
}
button {
    height: 2em;
    width: 5em;
    font-size: 20px;
    margin-bottom: 1em;
    margin-top: 1em;
}
textarea{
    resize: none;
    width: 295px;
    height: 166px;
}
#id_category{
    padding: 0.5em;
}
#id_image{
    font-size: 17px;
}
#cant_buy_own {
    width: 50%;
    height: 10em;
    background-color: gray;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}