#content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#item_list {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    background-color: darkgray;
    justify-content: center;
}
.items{
    text-align: center;
    background-color: lightgray;
    border: 2px solid white;
    height: 25em;
    width: 20em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}
.items div {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16em;
}
#item_list a {
    text-decoration: none;
    color: black;
}
.items img {
    max-width: 95%;
    max-height: 16em;
}
.pagination {
    padding: 1em;
    text-align: center;
}
#empty{
    width: 50%;
    height: 10em;
    background-color: gray;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
