#content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#item{
    text-align: center;
    width: 70%;
    background-color: lightgray;
    font-size: 30px;
}
#item span {
    color: green;
}
#buttons {
    display: flex;
    margin-left: 0.5em;
}
button{
    padding: 0.5em;
    font-size: 15px;
}
#item textarea{
    resize: none;
    width: 80%;
    margin-bottom: 2em;
    font-size: 1em;
    text-align: center;
    height: 20em;
}
img {
    max-width: 95%;
    max-height: 1000px;
}
#likes {
    background-color: lightgray;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5em;
}
#likes button {
    width: 4em;
    margin-right: 3em;
    margin-left: 1em;
}
#likes span {
    font-weight: bold;
    padding: 0.5em;
}
#comment_section{
    margin-top: 1em;
    width: 70%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.comments {
    display: flex;
    width: 100%;
    margin-bottom: 0.5em;
}
.comments img {
    margin-right: 0.5em;
    margin-left: 5em;
    min-height: 100px;
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;
}
.comments div {
    width: 100%;
}
#header {
    display: flex;
    align-items: center;
}
#header p {
    margin-left: 0.5em;
    color: gray;
}
.comments textarea {
    margin-top: 0.5em;
    margin-left: 0.5em;
    resize: none;
    width: 95%;
    border: 0;
}
