{% extends base_template_name %}
{% load static %}

{% block title %}Edit Profile{% endblock title %}
{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'user/css/edit_style.css' %}">
{% endblock extra_head %}

{% block content %}
<h1>Edit Profile</h1>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
        {% for field in form %}
        <p>  
            {{field.label}}
            {{field}}
                
            {%if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}
            {% for error in field.errors %}
                  <p style="color: red;">{{error}}</p>
            {% endfor %}
        </p>
         {% endfor %}
    <button type="Submit">Update</button>
</form>

{% endblock content %}