{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'user/css/login_style.css' %}">
{% endblock extra_head %}

{% block content %}
    <h1>Login</h1>
    <section>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <Button type='submit'>Login</button>
        <p class='not_as_p' id='no_acc'><a href="{% url 'user:register' %}">Don't have an account?</a></p>
    </form>
</section>

    {% for message in messages %}
        <p class='not_as_p'>{{message}}</p>
    {% endfor %}
{% endblock content %}