{% extends base_template_name %}
{% load static %}

{% block title %}Profile{% endblock title %}
{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'user/css/profile_style.css' %}">
{% endblock extra_head %}

{% block content %}
<section id="links">
    <p><a href="{% url 'user:edit' %}">Edit Profile</a></p>
    <p><a href="{% url 'user:change' %}">Change password</a></p>
    <p><a href="{% url 'item:user_listings' %}">Listings</a></p>
    <p><a href="{% url 'item:user_sold' %}">Sold Items</a></p>
    <p><a href="{% url 'order:user_orders' %}">Orders</a></p>
</section>

 <section id='profile'>
     <h1>Profile</h1>
     <div id='user'>
         {% if user.avatar %}
            <img src="{% static user.avatar.url %}" alt="none2" width=300 height=300>
        {% else %}
            <img src="{% static 'user/image/default-avatar.png' %}" alt="none" width=300 height=300>
        {% endif %}
        <div id='info'>
            <p>Username: <span>{{user.username}}</span></p>
            <p>Balance: <span id='balance'>${{user.balance}}</span></p>
            <p>First name: <span>{{user.first_name}}</span></p>
            <p>Last name: <span>{{user.last_name}}</span></p>
            <p>Email: <span>{{user.email}}</span></p>   
            <p>Date of birth: <span>{{user.dob}}</span></p>
        </div>
    </div>
    <textarea id='bio' readonly>Bio: 
    {{user.bio}}
    </textarea>
</section>


{% endblock content %}