{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock title %}
{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'user/css/register_style.css' %}">
{% endblock extra_head %}

{% block content %}

<h1>Register</h1> 
<form method="POST" action="">
    {% csrf_token %}
    {% for field in form %}
        <p>  
            {{field.label}}
            {{field}}
                

            
            {% for error in field.errors %}
                <p style="color: darkred;">{{error}}</p>
            {% endfor %}
        </p>
         {% endfor %}
         
        <Button type='submit'>Register</Button>
</form>
<p id='acc_already'><a href="{% url 'user:login' %}">Already have an account? </a></p>

{% endblock content %}