{% extends base_template_name %}
{% load static %}

{% block title %}{{title}} Items{% endblock title %}

{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'item/css/listing_style.css' %}">
{% endblock extra_head %}


{% block content %}
<h1>{{title}} items:</h1>
<section id='item_list'>
{% for item in items %}
    <div class='items'>
        {% if display_not_sold %}
            <form action="{% url 'item:edit' item.item_id %}">
                <button type="submit">Edit item</button>
            </form>
             <form action="{% url 'item:delete' item.item_id %}">
                <button type="submit">Delete item</button>
             </form>
        {% endif %}
            <h1>Title: {{item.item_name}}</h1>
            {% if sold_view %}
                {% with item.order_set.all|first as order %}
                <p><b>Buyer:</b> <u>{{order.user}}</u></p>
                {% endwith %}
            {% else %}
                <p><b>Date posted:</b> {{item.creation_date}}</p>
            {% endif %}   
            <p><b>Price:</b> ${{item.price}}</p>           
            <img src="{% static item.image.url %}">
        </div>
    
    {% empty %}
        <div id='empty'><p>a wasteland...</p></div>
{% endfor %}
    
    </section>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}