{% extends base_template_name %}
{% load static %}

{% block title %}Ordering Item{% endblock title %}
{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'order/css/create_style.css' %}">
{% endblock extra_head %}

{% block content %}

{% if item.owner.username == user.username %}
        <div id='cant_buy_own'><h1>You cannot buy your own item.</h1></div>
 {% else %}
 <section id='infos'>
    <div id='payer'>
        <h1>Your information</h1>
        <div id='user'>
    
                {% if user_cant_buy %}
                    <p>{{user_cant_buy}}</p>
                {% endif %}
                    {% if user.avatar %}
                        <img src="{% static user.avatar.url %}" alt="none2" width=300 height=300>
                    {% else %}
                        <img src="{% static 'user/image/default-avatar.png' %}" alt="none" width=300 height=300>
                    {% endif %}
                    <p><b>Username:</b> {{user.username}}</p>
                    <p><b>Your current balance:</b> <span>${{user.balance}}</span></p>           
        </div>
    </div> 
        <div id='item'>
                    <h1>Item information</h1>
                    <p>Title: {{item.item_name}}</p>
                    <p>Price: ${{item.price}}</p>
                    <p><b>Seller:</b> {{item.owner.username}}</p>
                    <img src="{% static item.image.url %}">
         
    </div>
 </section>
       <form method="POST" action="">
                    {% csrf_token %}
                    <button type='submit' name='buy' value='none'>Buy</button>
        </form>
        
{% endif %}
{% endblock content %}