{% extends base_template_name %}
{% load static %}

{% block title %}{{title}} Items{% endblock title %}

{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'order/css/orders_style.css' %}">
{% endblock extra_head %}

{% block content %}
<h1>Your orders:</h1>
<section id='item_list'>
{% for order in orders %}
    <div class='items'>
        <h1>Title: {{order.item.item_name}}</h1>
        <p>Price: ${{order.item.price}}</p>
        <p>Seller: {{order.item.owner}}</p>
        <p>Order Date: {{order.buy_date}}<p>
        <img src="{% static order.item.image.url %}">
    </div>

{% empty %}
    <p>You have not ordered any items yet.</p>
{% endfor %}
</section>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}