{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'base/base_style.css' %}">
    <title>Kujuju - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="style.css">
    {% block extra_head %} {% endblock extra_head %}
</head>

<body>
    <div id="menu">
        <div id="title">
            <h1><a href="{% url 'search:index' %}">Kujuju</a></h1>
        </div>
        <div id="options">
        {% block options %}
            <ul>
                <li><a href="{% url 'user:login' %}">Login</a></li>
                <li><a href="{% url 'user:register' %}">Register</a></li>
            </ul>
        {% endblock options %}
        </div>
    </div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <footer>
        <p>Django project made by Vashti Lanz Rubio.</p>
    </footer>
    
</body>
</html>