{% extends "base.html" %}
{% block options %}
<ul>
     <li id="post_option"><a href="{% url 'item:create' %}">Post New Item</a></li>
    <li><a href="{% url 'user:profile' %}">My Profile</a></li>
    <li><a href="{% url 'user:logout' %}">Logout</a></li>
 </ul>
{% endblock options %}
