#content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#search_bar{
   display: flex;
   justify-content: center;
   background-color: white;
   margin-top: 2em;
   margin-bottom: 3em;
}
#search_bar input[type=text] {
    font-size: 3.5em;
    width: 100%;
}
#categories, #sort {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}
#category_header {
    margin-right: 10px;
}
#categories p, #sort p {
    margin-right: 1em;
}
#item_list {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    background-color: darkgray;
    justify-content: space-evenly;
}
.items{
    text-align: center;
    background-color: lightgray;
    border: 2px solid white;
    height: 20em;
    width: 20em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.items div {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16em;
}
#item_list a {
    text-decoration: none;
    color: black;
}
.items img {
    max-width: 95%;
    max-height: 13em;
}
.pagination {
    padding: 1em;
    text-align: center;
}